h1 {
    font-size: 2rem;
    text-align: center;
}

.cartItemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cartItemDetails {
    text-align: center;
}

.onethirdWidth {
    width: 33.33%;
}