h1 {
    font-size: 2rem;
    text-align: center;
}

.cartItemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cartItemDetails {
    text-align: center;
}

.onethirdWidth {
    width: 33.33%;
}

.orderSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.orderDetails {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.productPrice {
    width: fit-content;
    font-size: 1.3rem;
    color: #2b6cb0;
    font-weight: 700;
    margin: 0;
    background: #ebf8ff;
    padding: 0.3rem 0.8rem;
    border-radius: 6px;
}

.button {
    width: 25%;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button {
    background-color: #007bff;
    color: white;
}

.button:hover {
    background-color: #0056b3;
}